$body_background: #DBDFE2;
$container_background: white;
$font_color: #5B5D56;
    
body {
    background-color: $body_background;
    color: &font_color;
    padding-top: 40px;
}

.container {
    background-color: $container_background;
    color: &font_color;
    padding: 30px 15px;   
}